body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:ghostwhite;
}

header{
    background-color:black;
}   
.logo1{
  margin-left:7rem ;
}
.navbar ul{
    list-style-type: none;
    overflow: hidden;
    background-color: grey;
    padding:10px ;
}
.navbar li{
    float: left;
    padding:20px ;
}
.navbar a{
     color: white;
     text-decoration: none;
     display: block;
     
}               
.navbar a:hover{
     color: black ;
} 
.search{
    display: flex;
    margin-right:20px;
    float:right;
}

.search input{
    
    font-size: 16px;
    border:1px solid black ;
    border-radius: 0.5rem;

}
.search button{
     padding:10px ;
     font-size:16px ;
     color:black;
     cursor: pointer;  
     border:none ;  
     background-color: aliceblue; 
}
.search form{
      display: flex;
      margin: 0;
}
.footer{
    margin-top: 10rem;
}

.footer {
    background-color:black;
    padding: 20px;
    text-align: center;
    color: aliceblue;
}


.footer-content {
    margin-bottom: 20px;
}


.social-link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}


.social-link:hover {
    text-decoration: underline;
    color: #383636;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background:black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:gold;
}

h1, h2 {
    color: goldenrod;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: #d2d2d2;
    background-color: #ff4000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
}

button:hover {
    background-color: rgb(148, 3, 3);
}
